<!DOCTYPE html>
<html>
<head>
  <title>G98</title>
  <%= favicon_link_tag "apple-touch-icon", rel: "apple-touch-icon", sizes: "100x100", type: "image/png" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'sidebar' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header pull-left">
      <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#account" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button> -->
      <a class="navbar-brand logo" href="/">
        <%= image_tag "g98-logo"%>
      </a>

    </div>
    <div class="navbar-header pull-right">
       <ul class="nav navbar-nav pull-left upload">
         <li><%= link_to content_tag(:i, ' Upload', class: "fa fa-camera"), new_post_path %></li>
       </ul>
    </div>

  </div>
</nav>
  <div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li><%= link_to content_tag(:i, ' Hot', class: "fa fa-fire"), authenticated_root_path, class: is_active?("dashboard") %></li>
        <li><%= link_to content_tag(:i, ' Trending', class: "fa fa-star") %></li>
        <li><%= link_to content_tag(:i, ' Fresh', class: "fa fa-female") %></li>

        <% if user_signed_in? %>
          <li><%= link_to content_tag(:i, ' Account', class: "fa fa-user"), profile_path %></li>
          <li><%= link_to content_tag(:i, ' My posts', class: "fa fa-bars"), posts_path %></li>
          <li><%= link_to content_tag(:i, ' Logout', class: "fa fa-sign-out"), destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to content_tag(:i, ' Login', class: "fa fa-sign-in"), login_path %></li>
        <% end %>
      </ul>
    </div>


    <div id="page-content-wrapper">
      <div class="content-header">
        <h1>
          <a id="menu-toggle" href="#" class="btn btn-default"><%= fa_icon "navicon" %></a>
          <%= yield(:title) %>
        </h1>
      </div>
    </div>
    <!-- Keep all page content within the page-content inset div! -->
    <div class="page-content inset">
      <%= yield %>
    </div>
  </div>

  <!-- Custom JavaScript for the Menu Toggle -->
  <script>

    window.onload = function() {

  var mySwiper = new Swiper('.swiper-container',{
    slidesPerView: 'auto'
  })

    }

    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });

    $('body').on('hidden.bs.modal', '.modal', function () {
      $(this).removeData('bs.modal');
    });
    $('body').on('hidden.bs.modal', '#confirm-delete', function () {
      $(this).remove();
    });
  </script>
</body>
</html>
